<div
  *ngIf="!loggedIn()"
  class="d-flex justify-content-center"
  style="margin-top: 1rem;"
>
  <mat-card class="example-card">
    <mat-card-header style="text-align: center;">
      <mat-card-title style="color: mediumvioletred;">Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <form
          [formGroup]="registerForm"
          class="form-signin"
          (ngSubmit)="register()"
        >
          <div>
            <label style="font-size: 25px; margin-right: 10px;">I am a: </label>
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              formControlName="userName"
              type="text"
              placeholder="User name"
            />
            <mat-error
              *ngIf="
                errorHandling('userName', 'required') &&
                registerForm.get('userName').touched
              "
              >You must enter a username</mat-error
            >
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              formControlName="knownAs"
              type="text"
              placeholder="Known As"
            />
            <mat-error
              *ngIf="
                errorHandling('knownAs', 'required') &&
                registerForm.get('knownAs').touched
              "
              >You must enter a nick name</mat-error
            >
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              formControlName="dateOfBirth"
              [matDatepicker]="picker"
              placeholder="Date Of Birth"
            /><mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="
                errorHandling('dateOfBirth', 'required') &&
                registerForm.get('dateOfBirth').touched
              "
              >Date of birth is required.</mat-error
            >
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              formControlName="city"
              type="text"
              placeholder="City Name"
            />
            <mat-error
              *ngIf="
                errorHandling('city', 'required') &&
                registerForm.get('city').touched
              "
              >You need to enter a city</mat-error
            >
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              formControlName="country"
              type="text"
              placeholder="Country Name"
            />
            <mat-error
              *ngIf="
                errorHandling('country', 'required') &&
                registerForm.get('country').touched
              "
              >You need to enter a country name</mat-error
            >
          </mat-form-field>

          <mat-form-field
            style="width: 100%;"
            hintLabel="Max 8 Characters"
            appearance="fill"
          >
            <input
              matInput
              #password
              type="password"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              autocomplete="off"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint align="end">{{ password.value?.length || 0 }}/8</mat-hint>
            <mat-error
              *ngIf="
                errorHandling('password', 'required') && registerForm.invalid
              "
              >You need to enter password</mat-error
            >
            <mat-error
              *ngIf="
                errorHandling('password', 'minlength') &&
                registerForm.get('password').touched
              "
              >Password at least 4 characters</mat-error
            >
            <mat-error
              *ngIf="
                errorHandling('password', 'maxlength') &&
                registerForm.get('password').touched
              "
              >Password should not be more than 8 characters</mat-error
            >
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              autocomplete="off"
            />
            <mat-error *ngIf="errorHandling('confirmPassword', 'required')"
              >You need to enter same password</mat-error
            >
            <mat-error
              *ngIf="registerForm.hasError('mismatch') && registerForm.invalid"
              >Password not match!</mat-error
            >
          </mat-form-field>
          <mat-card-actions class="d-flex">
            <button
              mat-raised-button
              class="mt-3 mr-2 w-100"
              color="primary"
              type="submit"
              [disabled]="!registerForm.valid"
            >
              Register
            </button>
            <button
              routerLink="/"
              mat-raised-button
              class="mt-3 w-100"
              color="accent"
              (click)="cancel()"
            >
              Cancel
            </button>
          </mat-card-actions>

          <div class="mt-3 text-center">
            Already have an account? <a routerLink="/auth/login">Sign In</a>
          </div>
          <div style="text-align: center;" class="mt-3">
            <p>Or</p>
            <button
              mat-mini-fab
              style="background-color: rgb(32, 32, 194); margin-right: 10px;"
            >
              <mat-icon
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></mat-icon>
            </button>
            <button mat-mini-fab style="margin-right: 10px;" color="accent">
              <mat-icon><i class="fa fa-google-plus"></i></mat-icon>
            </button>
            <button
              mat-mini-fab
              style="background-color: rgba(13, 235, 79, 0.705);"
            >
              <mat-icon
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></mat-icon>
            </button>
          </div>
        </form>
        <mat-divider class="mt-1"></mat-divider>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-footer>
      <p class="mt-1 mb-3 ml-2 text-muted">Copy right -© 2020-2022</p>
    </mat-card-footer>
  </mat-card>
</div>
