<div *ngIf="!loggedIn()" class="d-flex justify-content-center" style="margin-top: 5rem;">
  <mat-card class="example-card">
    <mat-card-header style="text-align: center;">
      <mat-card-title style="color: mediumvioletred;"
        >Please sign in</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions>
        <form #loginForm="ngForm" class="form-signin" (ngSubmit)= "login()">
          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              [(ngModel)]="model.userName"
              name="userName"
              type="text"
              placeholder="User name"
              required
              autofocus="on"
            />
          </mat-form-field>
          <mat-form-field style="width: 100%;" appearance="fill">
            <input
              matInput
              [(ngModel)] = "model.password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              autocomplete="off"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <button
            mat-raised-button
            style="width: 100%; margin-top: 10px;"
            color = "primary"
            type="submit"
            [disabled] = "!loginForm.valid"
          >
            Sign in
          </button>
          <div style="text-align: center;" class="mt-3">
            <p>Or</p>
            <button mat-mini-fab style="background-color: rgb(32, 32, 194);margin-right: 10px;">
              <mat-icon><i class="fa fa-facebook" aria-hidden="true"></i></mat-icon>
            </button>
            <button mat-mini-fab style="margin-right: 10px;" color="accent">
              <mat-icon><i class="fa fa-google-plus"></i></mat-icon>
            </button>
            <button mat-mini-fab style="background-color: rgba(13, 235, 79, 0.705);">
              <mat-icon><i class="fa fa-twitter" aria-hidden="true"></i></mat-icon>
            </button>
          </div>
        </form>
        <mat-divider class="mt-5"></mat-divider>
      </mat-card-actions>
    </mat-card-content>
    <mat-card-footer>
      <p class="mt-5 mb-3 ml-2 text-muted">Copy right -© 2020-2022</p>
    </mat-card-footer>
  </mat-card>
</div>
