<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Dating App</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a mat-button class="nav-link" href="#">Matches</a>
    </li>
    <li class="nav-item">
      <a mat-button class="nav-link" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a mat-button class="nav-link" href="#">Messages</a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <mat-spinner
      style="color: white;"
      [diameter]="25"
      mode="indeterminate"
      *ngIf="spinnerService.visibility | async"
    ></mat-spinner>
  </div>
  <div *ngIf="loggedIn()">
    <a mat-button [matMenuTriggerFor]="menu">Welcome {{authService.decodedToken?.unique_name | titlecase}}</a>
    <mat-menu #menu="matMenu" class="mt-2">
      <a mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Edit Profile</span>
      </a>
      <a mat-menu-item (click)="logout()">
        <mat-icon>eject</mat-icon>
        <span>Logout</span>
      </a>
    </mat-menu>
  </div>
  <div *ngIf="!loggedIn()">
    <button routerLink="/auth/login" mat-button style="color: white;" class="mr-1">
      <mat-icon>input</mat-icon>
      Login
    </button>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
