/* .example-card {
  max-width: 320px;
} */

.example-header-image {
  background-size: cover;
}
.card-img-wrapper {
  margin-left: 15px;
  width: 90%;
  height: 70%;
}
.mainImage {
  background-size: cover;
  border-style: ridge;
}

